vaadin-login-overlay-wrapper, vaadin-login-overlay, body, #login {
    background-image: url("https://i.imgur.com/MOGRx5O.jpg") !important;
}

div {
    background-image: url("https://i.imgur.com/MOGRx5O.jpg") !important;
    background: inherit;
}

#backdrop, .backdrop, backdrop {
    background-image: url("https://i.imgur.com/MOGRx5O.jpg") !important;
    background: inherit;
}

#overlay, .overlay, overlay {
    background-image: url("https://i.imgur.com/MOGRx5O.jpg") !important;
    background: inherit;
}

#content, .content, content {
    background-image: url("https://i.imgur.com/MOGRx5O.jpg") !important;
    background: inherit;
}