#user-services-view {
  display: block;
  height: 100%;
}

:host {
  display: block;
  height: 100%;
}

div.user-services {
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-s);
  padding: var(--lumo-space-s);
}

div.user-services > h3 {
  margin: 0;
}

#list {
  height: 100%;
}

.user-services {
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-s);
  padding: var(--lumo-space-s);
}

#order {
  margin: 0;
}
