:host {
  display: block;
  padding: 1rem;
}

.button-layout-password {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  justify-content: flex-end;
}

#wrapper-password {
  width: 30% !important;
  align-items: center;
  margin: auto;
}

#password-view vaadin-form-layout {
  padding-top: 22%;
}
